@model Group

<div class="card bg-dark">
    <div class="card-header">
        <p class="m-0">Create a Team</p>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("AddGroup", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label white-label" })
                @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupName, null, htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        }
    </div>
</div>

