
@{
    ViewBag.Title = "Team manager page";
}

@RenderPage("~/Views/Shared/_AdminMenu.cshtml")

<h3 class="text-center mt-5">Team Manager Page</h3>

@RenderPage("~/Views/Shared/_Notif.cshtml")

@Html.Partial("_CreateTeamPartial")

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
